/* OVERRIDES */
.reveal pre {
    /*font-size: 0.5em;*/
    width: 97%;
}
.reveal pre code {
    margin-top: -25px;
    margin-bottom: -50px;
}

/* COLUMNS */
.row {
    overflow: auto;
}

.column {
    float: left;
    margin-left: 2%;
    width: 48%;
}
.column:first-child {
    margin-left: 0;
}

.column h4 {
    margin-bottom: 0;
}
